@use './../../mixins/mixins' as mix;
.calendar-day-container {
	display: grid;
	grid-template-columns: repeat(7, 30px);
	gap: .5px 5px;
	padding: 5px 10px;
}
.calendar-day {
	text-align: center;
	margin-right: 4px;
	height: 30px;
	width: 30px;
	@include mix.add-flex(center, center);
	cursor: pointer;
	color: white;
	&:hover {
		background-color: var(--calendar-background-color);
		border-radius: 50%;
	}
}
.active-day {
	background-color: var(--calendar-day-bg-color);
	border-radius: 50%;
}