@use './../../mixins/mixins' as mix;
@use './title-bar';
@use './calendar-day';
@use './calendar-button';

.calendar {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	backdrop-filter: blur(2.5px);
	padding: 5px;
	border-radius: 10px;
}
.calendar-title-container {
	background-color: rgba(0,0,0,0.25);
	padding: 5px;
	border-radius: 10px;
	margin-bottom: 5px;
}
.calendar-daybar-container {
	background-color: rgba(0,0,0,0.25);
	border-radius: 5px;
	margin-bottom: 5px;
}
.calendar-day-container {
	background-color: rgba(0,0,0,0.25);
	border-radius: 10px;
}
.calendar-day-list {
	min-height: 40px;
	display: grid;
	grid-template-columns: repeat(7, 30px);
	align-items: center;
	justify-content: center;
	gap: 5px;
	margin: 0 10px;
}
.calendar-daybar-name {
	@include mix.add-flex(center, center);
	background: linear-gradient(45deg , red, orange);
	border-radius: 50%;
	padding: 7px;
}