:root {
	--calendar-background-color: rgba(140,150,100,0.6);
	--calendar-daybar-item-color: linear-gradient(45deg, red, orange);
	--calendar-day-bg-color: rgba(100,0, 250, 0.5);
	--calendar-button-color-1: silver;
	--calendar-button-color-2: aqua;
}